{% extends 'main/base.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% autoescape off %}
            {% for post in page_obj %}
            <div class="card mb-4">
                <div class="card-body">
			<div class="article">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.date }} </p>
                    <p class="card-text">{{ post.body|truncatechars_html:300 }}</p>
                    <p>---------------------</p>
                    <a href="{% url 'detail' post.category post.slug  %}" class="btn btn-primary">Selengkapnya &rarr;</a>
			</div>
                </div>
            </div>
            {% endfor %}
	    {% endautoescape %}		
        </div>

	{% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock body_block %}
